body {
	margin-top: 15px;
}

input {
	padding-left: 35px;
}

footer {
	
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 175px;

}

#top {
    display: block;
    position: relative;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.top-about{
    display: inline-block;
    color:gray;
    text-decoration: none;
    padding-left: 15px;

}
.top-store{
    display: inline-block;
    color: gray;
    text-decoration: none;
    padding-left: 15px;
    margin-top: 10px;
}
.top-gmail{
    position: absolute;
    right: 180px;
    color: gray;
    text-decoration: none;
    margin-top: 10px;
}
.top-images{
    position: absolute;
    right: 110px;
    color: gray;
    text-decoration: none;
    margin-top: 10px;
    
}
.top-button{
    position: absolute;
    right: 15px;
    color: white;
    background-color: rgb(87, 123, 223);
    height: 34px;
    width: 78px;
    border-radius: 5px;
    
    
}

.top-about:hover, .top-gmail:hover,
.top-store:hover, .top-images:hover {
	text-decoration: underline;
}

.search {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	width: 540px;
	height: 35px;
	outline: none;
	
}
 .search:hover {
	 box-shadow: 0 0 2px 1px grey;
 }

#search {
	margin-top: 35px;
}

#button {
    text-align: center;
}
.button {
    cursor: pointer;
    margin-top: 30px;
    display: inline-block;
}







